html {
  font-family: "Trebuchet MS", Arial, Helvetica;
  height: fit-content;
  margin: 0;
}

body {
  background-color: gainsboro;
  color: black;
  margin: 0;
}

header {
  position:sticky;
  width: 100%;
  height: 5vh;
  background-color: gray;
  text-align: center;
}

main {
  width: calc(80% - 60px); /*adjust for aside paddings*/
  height: calc(135vh - 40px); /*adjust for padding*/
  float: left;
  text-align: left;
  padding: 20px;
}

aside {
  width: 10%;
  min-height: 135vh;
  padding-left: 5px;
  padding-right: 5px;
  overflow-wrap: anywhere;
  background-color: rgba(0, 0, 0, 0.2);
  float: left;
}

footer {
  width: 100%;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  clear: both;
}

div.v-align {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.image-block {
  float: right;
  width: fit-content;
  height: fit-content;
}

/* div#weather-overlay{
  width: 100%;
  height: 100%;
  background-image: url(rain.png);
  background-position: 0px 0px;
  background-repeat: repeat;
  animation: weatherEffect 2.5s linear infinite;
}

@keyframes weatherEffect{
from{
  background-position: 0 0;
}
to{
  background-position: 100% 100%;
}
} */

hblock {
  border: 4px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(50, 100, 220, 0.6);
  border-radius: 20px;
  margin: 0px 2px;
  padding: 4px 8px;
}

/* update dark mode style if i have the time */
.dark-mode {
  background-color: black;
  color: white;
}

button {
  border-radius: 12px;
  border: 0px;
  background: none;
}

table.social-links {
  background-color: rgba(50, 100, 220, 0.6);
  border: 1px solid rgba(0,0,0,0.5);
  border-collapse: collapse;
}

td {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(50, 100, 220, 0.6);
  margin:0px;
  padding:2px;
  vertical-align: middle;
}

img {
  border: 2px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 8px;
  max-width: 200px;
  max-height: 200px;
  vertical-align: middle;
}

img.icon {
  border-radius: 100%;
  height: 16px;
  width: 16x;
  padding:0;
  margin:4px;
  background-color:rgba(255,255,255,0.5);
}

p {
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  width: fit-content;
}

a {
  text-decoration: none;
  color: black;
}

a.dark-mode {
  color: white;
}

a.cl {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
}

h3::first-letter,
h4::first-letter {
  font-size: 120%;
}